/*
  auther:i-swing
  date:2016.12.18
  Editor:xxxx.xx.xx;
*/





/*全局复用*/
body {
  font: 14px/1.8em "Microsoft YaHei";
  margin: 0;
  padding: 0;
  border: 0;
} 
img { display: block; } /* 浏览器解析时图片下方默认生成3像素空白 */
a { text-decoration: none; }
h1,h2,h3,h4,h5,p { margin: 0; }
a,dt,.payment-item-con {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  transition-duration: 300ms;
}
body h2{
  color: #4e4e4e;
  font-size: 32px;
  line-height: 2em;
  text-align: center;
}
body p {
  color: #4e4e4e;
  font-size: 14px;
  line-height: 2em;
  text-align: center;
}
.inner {
  width: 65%;
  margin: auto;
}





/*清除浮动*/
.cf:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; 
}
.cf { zoom:1; }





/*top-bar*/
.top-bar {
  width: 100%;
  background: #191919;
  border-bottom: 1px solid #222222;
}
.top-bar-con {
  padding: 10px 0;
  color: #fff; 
}
.top-bar-left { float: left; }
.top-bar-right { float: right; }
.top-bar-left span {
  padding-left: 10px;
  font-size: 14px;
  line-height: 28px;
  font-family: Microsoft YaHei;
}  
.top-bar-share { float: left; }
.top-bar-share a {
  display: inline-block;
  width: 26px;
  height: 26px;
  color: #fff;
  text-align: center;
  line-height: 26px;
  background: #404040;
  border-radius: 3px;
}
.top-bar-search {
  padding-left: 10px;
  float: left;
}
.top-bar-search input {
  padding-left: 5px;
  line-height: 26px;
  background: none;
  border: none;
}
.top-bar-search button {
  line-height: 26px;
  background: none;
  border: none;
}





/*nav*/
.nav {
  width: 100%;
  background: #151515;
}
.nav-bar { padding: 20px 0; }
.nav-bar-logo { float: left; }
.nav-bar-item { float: right; }
.nav-bar-item a {
  margin: 9px 15px;
  padding:0 12px;
  display: inline-block;
  color: #fff;
  line-height: 34px;
  font-size: 14px;
}
.nav-bar-item a:first-child {
  background: #c52d2f;
  border-radius: 3px;
}
.nav-bar-item a:hover {
  background: #c52d2f;
  border-radius: 3px;
}





/*focus aere: the most important aere of this page*/
.focus {
  position: relative;
  width: 100%;
  background: url(../img/focus-bg.jpg) no-repeat center center;
  background-size: 100% auto;
}
.focus-con {
  position: relative;
  height:600px;
}

/*content details*/
.focus-con-details {
  display: table;
  width: 55%;
  height: 100%;
}
.focus-con-info {
  padding-left: 50px;
  display: table-cell;
  vertical-align: middle;
}
.focus-con-info h1 {
  margin: 0;
  padding-bottom: 30px;
  color: #fff;
  font-size: 46px;
  font-weight: normal;
}
.focus-con-info p {
  color: #fff;
  font-size: 16px;
  line-height: 1.8em;
  text-align: left;
}
.focus-con-info a {
  margin-top: 20px;
  padding: 0 20px;
  display: inline-block;
  line-height: 3em;
  color: #fff;
  background: #c52d2f;
  border-radius: 5px;
}
.focus-con-info a:hover {
  background: #000;
}

/*content-images*/
.focus-con-img {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 33%;
}

/*the arrows*/
.focus-arrow {
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  background: #c52d2f;
  border-radius: 3px;
}
.focus-arrow:hover { background: #000; }
.focus-arrow-left {
  position: absolute;
  left: 10px;
  top:50%;
  margin-top: -20px;
}
.focus-arrow-right {
  position: absolute;
  right: 10px;
  top:50%;
  margin-top: -20px;
}

/*tab dot*/
.focus-tab {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}
.focus-tab a {
  margin: 0 5px;
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  border-radius: 50%;
}
#current {
  background: #c52d2f;
  border: 1px solid #c52d2f;
}
.focus-tab span {
  margin: 1px;
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}
#current span {
  background: none;
}





/*product feature introduction*/
.product {
  width: 100%;
  background: #f2f2f2;
}
.product-con h2 { padding-top: 50px; }
.product-con-team { padding: 30px 0 70px; }
.product-con-item {
  margin-top: 40px;
  margin-right: 5%;
  float: left;
  width: 30%;
}
.product-con-item:nth-child(3n) { margin-right: 0; }
.product-con-item:hover > dt {
  background: #c52d2f;
  border: 3px solid #c52d2f;
}
.product-con-item:hover > dt > i {
  color: #fff;
  background: none;
}
.product-con-item dt {
  float: left;
  display: block;
  width: 107px;
  height: 107px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.product-con-item i {
  margin: 5px;
  display: block;
  width: 97px;
  height: 97px;
  font-size: 48px;
  color: #c52d2f;
  text-align: center;
  line-height: 97px;
  background: #fff;
  border-radius: 50%;
}
.product-con-item dd { margin-left: 140px; }
.product-con-item strong {
  padding-top: 10px;
  display: block;
  color: #4e4e4e;
  font-size: 18px;
}
.product-con-item p {
  margin-top: 10px;
  text-align: left;
}





/*payment methods*/
.payment { padding-top: 50px; }
.payment-team { padding: 50px 0 70px; }
.payment-item {
  position: relative;
  float: left; 
  width: 25%;
}
.payment-item img {
  width: 100%;
  height: auto;
}
.payment-item-con {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #c52d2f;
}
.payment-item-text {
  padding: 28px;
  opacity: .8;
}
.payment-item:hover > .payment-item-con { opacity: 1; }
.payment-item-text h3,a { color: #fff; }
.payment-item-text p {
  padding: 15px 0 10px;
  color: #fff;
  text-align: left;
}





/*shopping service*/
.service {
  width: 100%;
  background: url(../img/services/bg_services.jpg) no-repeat center center;
  background-size: 100% auto;
}
.service-con { padding-bottom: 70px; }
.service-con h2 {
  padding-top: 50px;
  color: #fff;
}
.service-con p { color: #fff; }
.service-team { margin-top: 20px; }
.service-item {
  margin: 40px 5% 0 0;
  float: left;
  width: 30%;
  background: #fff;
  border-radius: 10px;
}
.service-item:nth-child(3n) { margin-right: 0; }
.service-item dt {
  margin: 35px 0 35px 20px;
  float: left;
}
.service-item dd { margin:0 20px 0 113px; }
.service-item strong {
  display: block;
  padding-top: 30px;
  color: #787878;
  font-size: 18px;
}
.service-item p {
  padding-top: 10px;
  text-align: left;
  color: #4e4e4e;
}




/*footer links*/
.links {
  width: 100%;
  background: #f5f5f5;
}
.links-team { padding: 100px 0; }
.links-item {
  float: left;
  width: 15%;
  margin-right: 10%;
}
.links-item:first-child { margin-left: 8%; }
.links-item:nth-child(4n) { margin-right: 0; }
.links-item h3 { padding-bottom: 15px; }
.links-item a {
  display: block;
  color: #666;
  line-height: 2.4em;
}
.links-item a:hover { color: #c52d2f; }





/*footer: copyright & nav*/
.footer {
  width: 100%;
  color: #fff;
  font-size: 12px;
  background: #2e2e2e;
  border-top: 5px solid #c52d2f;
}
.footer-con { padding: 30px 0; }
.footer-copyright {
  float: left;
  width: 50%;
}
.footer-nav {
  float: right;
  width: 30%;
  text-align: right;
}
.footer-nav a { margin-left: 20px; }
.footer-nav a:hover { color: #c52d2f; }