/*
  auther:i-swing
  date:2016.12.18
  Editor:2017.02.21;
*/

@media screen and (max-width:750px) {
    /*全局复用*/
    body {
        font: 12px/1.8em "Microsoft YaHei";
    }
    body h2 {
        color: #4e4e4e;
        font-size: 18px;
        line-height: 2em;
        text-align: center;
    }
    body p {
        color: #4e4e4e;
        font-size: 12px;
        line-height: 1.8em;
        text-align: center;
    }
    .inner {
        width: 100%;
    }
    /*top-bar*/
    #modalDisplay,
    #modalDisplay2 {
        font-size: 10px;
        line-height: 1.2;
        color: #fff;
        background: none;
        border: none;
        margin-right: 0;
    }
    #modalLogin,
    #modalRegister {
        position: relative;
        width: 100%;
    }
    .form-group label {
        padding: 0 1.5%;
        line-height: 34px;
    }
    .modal-backdrop.in {
        opacity: 0;
        display: none;
    }
    .top-bar {
        overflow: hidden;
    }
    .top-bar-con {
        padding: 0 5px;
        font-size: 12px;
        opacity: .8;
    }
    .top-bar-left {
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }
    .top-bar-left span {
        padding-left: 5px;
        font-size: 12px;
    }
    .top-bar-right {
        width: 100%;
        text-align: center;
        float: none;
        margin:5px 0 10px;
    }
    .top-bar-share {
        margin-left: 15%;
        margin-top: 10px;
    }
    .top-bar-share a {
        background: none;
        width: 16px;
        height: 12px;
        line-height: 12px;
    }
    .top-bar-search {
        float: right;
        margin-right: 15%;
    }
    .top-bar-search input {
        margin-top: 10px;
        padding-left: 5px;
        line-height: 18px;
        background: #fff;
    }
    .top-bar-search button {
        line-height: 18px;
        border-radius: 0;
    }
    /*nav*/
    .nav {
        overflow: hidden;
        border-bottom: 3px solid #c52d2f;
    }
    .nav-bar {
        padding: 5px 5px;
    }
    .nav-bar-item {
        width: 60%;
    }
    .nav-bar-item a {
        margin: 3px 1% 2px;
        padding: 2%;
        width: 30%;
        line-height: 12px;
        font-size: 10px;
        text-align: center;
    }
    /*focus aere*/
    #swiper {
        height: 350px;
    }
    .swiper-slide {
        padding: 10px 10px;
    }
    .focus-info {
        left: 15%;
        width: 50%;
    }
    .swiper-slide h1 {
        font-size: 18px;
        font-weight: bold;
    }
    .swiper-slide p {
        font-size: 12px;
        line-height: 1.6em;
    }
    .swiper-slide a {
        padding: 0 5px;
        font-size: 12px;
        line-height: 2.2em;
        border-radius: 0;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
    /*product*/
    .product-con {
        width: 90%;
    }
    .product-con h2 {
        padding-top: 10px;
    }
    .product-con-team {
        padding: 10px 0 20px;
    }
    .product-con-item {
        margin-top: 10px;
        text-align: center;
    }
    .product-con-item dt {
        float: none;
        display: inline-block;
        width: 62px;
        height: 62px;
    }
    .product-con-item i {
        margin: 3px;
        width: 50px;
        height: 50px;
        font-size: 24px;
        line-height: 50px;
    }
    .product-con-item dd {
        margin: 0;
    }
    .product-con-item strong {
        padding-top: 5px;
        font-size: 14px;
    }
    .product-con-item p {
        display: none;
    }
    /*payment*/
    .payment h2,
    .payment p {
        margin: 0 auto;
        display: block;
        width: 90%;
    }
    .payment {
        padding-top: 10px;
    }
    .payment-team {
        padding: 10px 0 0;
    }
    .payment-item {
        width: 50%;
    }
    .payment-item-text {
        padding: 5px;
        text-align: center;
    }
    .payment-item-text p {
        padding: 5px 0 5px;
    }
    /*service*/
    .service {
        background-size: cover;
    }
    .service-con {
        padding: 20px 0;
    }
    .service-con h2 {
        padding-top: 2px;
    }
    {}
    .service-con p {
        margin: 0 auto;
        display: block;
        width: 90%;
    }
    .service-team {
        margin: 2px auto 0;
        width: 90%;
    }
    .service-item {
        margin: 10px 5% 0 0;
        border-radius: 5px;
    }
    .service-item dt {
        margin: 0;
        padding: 5px 0 5px 5px;
        width: 30%;
    }
    .service-item img {
        width: 50%;
    }
    .service-item dd {
        margin: 0;
    }
    .service-item strong {
        padding-top: 1px;
        font-size: 12px;
    }
    .service-item p {
        display: none;
    }
    /*footer links*/
    .links {
        overflow: hidden;
    }
    .links-team {
        padding: 20px 10px 10px;
        width: 100%;
    }
    .links-item {
        padding-bottom: 10px;
        width: 100%;
    }
    .links-item:first-child {
        margin-left: 0;
    }
    .links-item h3 {
        padding-bottom: 0;
    }
    .links-item a {
        display: inline;
    }
    /*footer: copyright & nav*/
    .footer-con {
        position: relative;
        padding: 10px 0;
    }
    .footer-copyright {
        position: absolute;
        bottom: 5px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-nav {
        margin: 0 auto 40px;
        width: 60%;
        float: none;
        text-align: center;
    }
    .footer-nav a {
        margin-left: 0;
    }
}
